html * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Exo;
  font-size: 16px;
}

body h1 {
  font-size: 40px;
  color: #152c43;
}
body h2 {
  font-size: 30px;
}
body h3 {
  font-size: 24px;
}
body h4 {
  font-size: 20px;
}
body a {
  text-decoration: none;
}
body a a:hover {
  color: #06a0ff;
}
body p {
  font-size: 16px;
  color: #5c6774;
}

.developer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 128px;
}
.developer-container h1 {
  text-align: center;
}
.developer-container .icon-grid {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-template-rows: auto;
  grid-row-gap: 23px;
  grid-column-gap: 131px;
  margin-top: 51px;
}
.developer-container .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 64px;
  height: 64px;
  box-shadow: 0 3px 29px 0 rgba(159, 159, 159, 0.16);
  background-color: #ffffff;
  margin-right: 25px;
}
.developer-container .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.developer-container .figurecaption {
  max-width: 250px;
  width: 100%;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: 0.19px;
  text-align: left;
  color: #152c43;
}
.developer-container h6 {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.23px;
  text-align: left;
  color: #5c6774;
  margin-top: 52px;
}
.developer-container h6 a {
  text-decoration: none;
  font-weight: 500;
  color: #06a0ff;
}

@media only screen and (max-width: 490px) {
  .icon-grid {
    width: 80%;
    margin: 0 auto;
  }

  .developer-container h6 {
    width: 80%;
    margin: 20px auto 0 auto;
    text-align: center;
  }
}