@import "common";

.roadmap-wrapper {
  @include flexBox(center, center, column);
  min-height: 343px;

  h1 {
    margin-top: 129px;
    margin-bottom: 20px;
  }
}

.roadmap-container {
  @include flexBox(center, center, row);
  width: 100%;
}
.road-box1 {
  @include flexBox(center, center, column);
  max-width: 683px;
  height: 343px;
  width: 50%;
  background-color: $primary-color;
  color: $white;
  // padding: 0 120px 0 120px;
}
.road-box-heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 2.96;

}
.road-box-content {
  max-width: 352px;
  min-height: 180px;
  li{
      margin-bottom: 15px;
  }
}

.road-box2 {
  @extend .road-box1;
  background-color: $p-text;
}

@include mobile-only {
  .roadmap-container {
    flex-wrap: wrap;
  }
  .road-box-content {
    margin-left: 20px;
  }

  .road-box1 {
    width: 100%;
    padding: 0 20px;
  }

}
@include tablet-up {
  
  .roadmap-container {
    flex-wrap: wrap;
  }
  .road-box1 {
    width: 100%;
    padding: 0 20px;
  }

}
