@import "common";

 .why-container{
        @extend .help-container;
        margin-top: 135px;
    
        .why-container-img{
          max-width: 450px;
          width: 100%;
        }
        .why-container-description{
          max-width: 600px;
          width: 90%;
          margin-top: 17px;
          color: $heading;
        }
    }
@include mobile-only{
  .why-container{
    width: 90%;
  }
  .why-container-description{
      width: 100%;
  }
 .why-container-img{

   margin: 30px auto 30px auto;
 }

}
  
     